
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 35% 15%;
    --foreground: 220 35% 15%;

    --card: 0 0% 100%;
    --card-foreground: 220 35% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 35% 15%;

    --primary: 106 43.7% 56.1%;
    --primary-foreground: 106 43.7% 56.1%;

    --secondary: 106 43.7% 56.1%;
    --secondary-foreground: 220 14% 21%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 187 72% 42%;
    --accent-foreground: 220 14% 21%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 220 35% 15%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    scroll-behavior: smooth;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  #about, #projects, #contact {
    @apply py-20;
    
  }
  section {
    @apply py-0 px-6 md:px-12 lg:px-24;
  }

  .glass-card {
    @apply bg-white bg-opacity-70 backdrop-blur-sm rounded-xl shadow-md;
  }
  

}
